.glare-effect {
            position: relative;
            overflow: hidden;
            z-index: 1;
        }
        .glare-effect::after {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            transform: skewX(-20deg);
            transition: all 0.5s ease-in-out;
            z-index: -1;
        }
        .glare-effect:hover::after {
            left: 150%;
        }

        .glare-effect {
        position: relative;
        overflow: hidden;
        z-index: 1;
      }

      .glare-effect::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        transform: skewX(-20deg) translateX(0);
        transition: transform 0.6s ease-out;
        z-index: -1;
      }

      .glare-effect:hover::after {
        transform: skewX(-20deg) translateX(200%);
      }